.text-blue-title {
  color: #062f4f;
}

.text-blue-80 {
  color: #385972;
}

.back-blue {
  background-color: #062f4f;
}

.text-upper {
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
